@charset "UTF-8";
/* CSS Document */

body {
    background: #fff;
    padding: 0;
    margin: 0;

    background-color: #DA2F24;
    /* font-family: Helvetica, Arial, sans-serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .title {
    background-color: rgb(255, 0, 0);
    text-align: center;
    display: flex;
    padding: 20px;
}

.warn_img{
    padding: 20px;
} */

.help{
    display: inline;
}

.container {
    /* background-color: #fff; */
    height: 750px;
    width: 750px;
    margin: 0 auto;
    text-align: left;
    padding-top: 50px;
}

h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    line-height: 130%;
    
}

h3 {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    line-height: 130%;
}

p {
    font-size: 12px;
    color: #ffffff;
    /* font-weight: bold; */
    text-align: left;
    line-height: 20px;
}


.buton {
    background: #e23131;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
}

a {
    text-decoration: underline;
    color: #fff;
}

a:hover {
    color: rgb(0, 26, 255);
    
}

span {
    font-size: 14px;
    color: #FFF;
    font-weight: normal;
    text-align: center;
}

span a {
    color: #FF0;
    text-decoration: none;
}

span a:hover {
    color: #F00;
}

@media screen and (max-width: 500px) {
    img {
        width: 70%;
    }
    .container {
        padding: 70px 10px 10px 10px;
    }
    h3 {
        font-size: 14px;
    }
}